/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
body{
    /* background-color: #000; */
    color:  rgb(236,236,236);
    font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
     background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
 
 /* background-image: linear-gradient( 134.6deg,  rgba(201,37,107,1) 15.4%, rgba(116,16,124,1) 74.7% ); */

}
.section1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
    margin: 0 20px 50px 20px;
   
}
.top-nav{
    margin-left: -20px;
    margin-top: 25px;
}
.top-nav ,span{
    padding: 10px;
}
.nav, a{
    margin-top: 3em;
    color: rgb(215,215,215);
    text-decoration: none;
    font-weight: bolder;
    padding: 12px;
    font-size: 18px;
    margin-left: 20px;
}
.words{
    margin-left: 25px;
    padding: 20px;
    
}
.words h1 p{
    line-height: 20px;
    color: rgb(215,215,215);
}
.jump img{
    margin-left: 45%;
    margin-top: -40%;
    
}
button{
    box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.3) 0px 18px 36px -18px inset;
    border-radius: 10px;
    /* background-color: rgb(20,195,244); */
    width: 15%;
    height: 50px;
    /* margin-right: -50px; */
    text-decoration: none;
    color: rgb(156,200,204);
    margin-left: 15px;
    /* margin-top: 5px; */
}
.section2{
    display: flex;
    margin-top: -25%;
    
}
.about{
    margin-left: 9%;
    color: rgb(253,253,253);
    
}
.about button{
    background-color: rgb(232,232,232);
    color: rgb(49,49,49);
    width: 30%;
    border-radius: 30px;
    font-weight: bold;
    margin-right: -10px;
    padding: 5px;
    /* margin-bottom: 30px; */
}
.image1 ,.image2{
    display: flex;
    border-radius: 40px;
    height: 60vh;
    width: 40%;
    background-color: rgb(64, 64, 66);
    justify-content: space-between;
    margin: 30px;
    margin-bottom: 15px;

}
.image1{
    margin-top: -35px;
    margin-right: 45px;
}
.on_body{
    margin-top: -42%;
    margin-left: 8em;
    line-height: 1px;
    
}
.on_body ,button{
    margin-left: 4em;
    /* background-color: rgb(7,7,7); */
}
.pic_box1 img{
   margin-top: 5%;
}

.section3{
    display: grid;
    margin-left: 45%;
    margin-top: -25%;
    grid-template-rows: repeat(2,150px);
    grid-template-columns: repeat(2,4fr);   
}
.square2 img{
    margin-top: 10px;
    height: 30vh;
    width: 85%;
}
.box2 button{
    width: 65%;
    background-color: rgb(31,161,216);
    margin-right: 50px;
    font-weight: bold;
}
.box2 ,h3, p{
    padding: 5px;
}
.view{
   text-align: center;
    
}
.section4{
    margin-top: 18%;
}
.why{
    text-align: center;
    padding: 5px;
}
.why ,h5 p{
    line-height: 5px;
}
.experience {
    display: flex;
    margin-left: 3em;
    justify-content: space-evenly;
}
.section5{
    background-image: url(last\ gym.webp);
    background-repeat: no-repeat;
    background-size: 200vh;
    background-position: 50%;
    
}
.price{
      display: flex; 
      justify-content: space-evenly;
      opacity: 70%;
    
}
.price :hover{
        margin-top: 5%; 
        border-radius: 3px;
        border-bottom:1px solid rgb(251, 251, 251);
        border-left: 1px solid rgb(255, 255, 255);
        border-top:1px solid rgb(255, 255, 255);
        border-right: 1px solid rgb(255, 255, 255);
        transition: all .5s ease;
    }
  
div .list{
    width: 25%;
    height: 55vh;
    border: 2px  solid rgb(253,253,253);
    border-radius: 20px;
    background-color: rgb(64, 64, 66);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   
}
.topic{
    text-align: center;
    font-size: 30px;
}
.list p{
    text-align: center;
    padding: 20px;

}
.list button{
    width: 65%;
    background-color: rgb(6,7,11);
    margin-left: 4em;
    font-weight: bold;
    border: 1px solid rgb(253,253,253);
    border-radius: 5px;
    color: rgb(253,253,253);
    /* font-size: 20px; */
}
.list button a{
    font-size: 15px;
}
.section6{
    margin-top: 10%;
    justify-content: space-evenly;
}
.clients img{
    display: flex;

}
.clients {
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 5%;
    display: flex;
    
}
.picha{
    text-align: center;
    margin-top: -5%;
    
}
.picha2{
    text-align: center;
    margin-bottom: 20%;
}
.footer{
    display: flex;
    justify-content: space-eve;
    width: 100%;
    height:50vh;
    /* background-color:rgb(131, 128, 128); */
    background-image: linear-gradient( 134.6deg,  rgba(201,37,107,1) 15.4%, rgba(116,16,124,1) 74.7% );
}
.input1{
     display: flex;
   
}
.put input{
    width: 130%;
    height: 5vh;
    border: 5px solid  rgb(41,41,41);
    background-color: rgb(41,41,41);
    color: rgb(253,253,253);

}
.in button {
    width: 30%;
    height: 40px;
    background-color: rgb(1,1,1); 
    border-radius: 5px;
    border: 4px solid  rgb(31,161,216);
    margin-left: 6em;
    font-weight: bold;
    color: rgb(253,253,253);
}
.in button a{
    margin-right: 180px;
}
.hours{
    margin-left: 3em;
    line-height: 15px;
}
.contact{
    margin-left: 9em;
}
.news{
    margin-left: 50;
}

@media (max-width: 576px) { 
    .images{
        width: 100% !important;
        height: 35vh !important;
    }
    .buttons{
        width: 80%;
    }
    .about{
        width: 100%;
    }
    body{
        width: 100% !important;
    }
    .section1{
        width: 80% !important;
    } 
    .section2{
        width: 100%!important;
    } 
    .section3{
        width: 100%!important;
    }     
    .section4{
        width: 100%!important;
    }
    .section5{
        width: 80%!important;
    }
    .section6{
        width: 80%!important;
    }
    .footer{
        width: 100%!important;
        height: 90vh;

    }
}







